.category_services_section {
    min-height: 100vh;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-wrapper {
        background-color: green;
        width: 80%;
        display: flex;
        flex-direction: column;

        .section_title {
            margin-top: 50px;
            background-color: red;
            h1 {
                font-weight: 600;
                font-size: 32px;
                color: #fff;
                text-transform: capitalize;
                letter-spacing: 3px;
            }
            .breadcrumbs {
                margin: 20px 0;
                background-color: blue;
                display: flex;
                gap: 1em;
                .crumb:after {
                    content: ">";
                    margin-left: 1em;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 700;
                }
                .crumb:last-child:after {
                    display: none;
                }
                .crumb a {
                    color: #fff;
                    font-size: 12px;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
        }
        // Main Content
        .category_services_main_content {
            min-height: 500px;
            margin-top: 50px;
            background-color: goldenrod;
            display: flex;

            .category_services_data {
                width: 75%;
                min-height: 300px;
                background-color: blueviolet;
            }
        }
    }
}
