.all_category_header {
    height: 183px;
    position: relative;
    background: linear-gradient(to right, #700edb, #d51075);
    @include flexCenter(row);
    .filter_container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        position: absolute;
        .filter_upper {
            width: 100%;
            height: 100%;
            background-image: url("https://mg.ge/images/bgIcons.png");
            // background-position-y: center;
            animation: blogbgani2 4s linear infinite;
            position: absolute;
            top: -100%;
            left: 0;
            opacity: 0.5;
        }

        .filter {
            width: 100%;
            height: 100%;
            background-image: url("https://mg.ge/images/bgIcons.png");
            animation: blogbgani 4s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            // background-position-y: center;
        }
        @keyframes blogbgani {
            to {
                top: 100%;
            }
        }
        @keyframes blogbgani2 {
            to {
                top: 0;
            }
        }
    }

    .all_category_title {
        position: relative;
        h1 {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 1.2;
            color: white;
            letter-spacing: 4px;
        }
    }
    input {
        position: absolute;
        height: 58px;
        width: 384px;
        max-width: 100%;
        bottom: -29px;
        border-radius: 30px;
        box-shadow: 0 5px 41px -14px rgb(60 63 66 / 32%);
        color: #40454a;
        border: 1px solid #e9e9ef;
        font-weight: 600;
        line-height: 40px;
        font-size: 15px;
        outline: none;
        background: #ffffff;
        padding: 0px 25px 0px 45px;
    }
}
.all_category_contaner {
    width: 80%;
    min-height: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    @media (max-width:750px) {
        justify-content: center;
    }

    .box {
        border-radius: 13px;
        width: 265px;
        min-width: 265px;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: blueviolet;
        overflow: hidden;
        margin: 1em;


        .image{
            height: 70%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .txt{
            height: 30%;
            @include flexCenter(row);
      
        }
    }
}
