.category_services_side_bar_container{
    width: 25%;
    min-height: 300px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 0;
    .provider_title{

    }
}