// .home-nav-wrapper {
//     max-width: 1052px;
//     width: 90%;
//     height: auto;
//     margin: 0 auto;
//     margin-top: 40px;
//     display: flex;
//     align-items: center;
//     gap: 15px;

//     @media (max-width: 1145px) {
//         flex-wrap: wrap;
//         justify-content: center;
//     }

//     .home-card {
//         width: 120px;
//         height: 90px;
//         background-color: #2f2f32;
//         border-radius: 8px;
//         cursor: pointer;
//         box-shadow: 2px 2px 3px 3px rgba(41, 42, 42, 0.38);

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 10px;

//         @media (max-width: 1145px) {
//             width: 103px;
//         }

//         &:hover {
//             background-color: #ee3255;
//             transition: all 0.5s;
//         }

//         img {
//             width: 32px;
//             height: 32px;
//         }

//         p {
//             color: #fff;
//             text-transform: uppercase;
//             font-size: 12px;
//             font-weight: 500;
//             margin-bottom: 0;
//             text-align: center;
//             @include fontRegular;
//         }
//     }
// }

.home-nav-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 136px;
    margin: 0 auto;
    margin-top: 64px;
    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 32px;
    }

    @media (max-width: 680px) {
        gap: 8px;
    }

    .nav-left-side {
        width: 600px;
        height: auto;
        display: flex;
        @media (max-width: 1024px) {
            width: 640px;
            gap: 32px;
        }

        @media (max-width: 680px) {
            flex-direction: column;
            width: 100%;
        }

        @media (max-width: 680px) {
            gap: 8px;
        }
    }

    .nav-right-side {
        width: 600px;
        height: auto;
        display: flex;
        @media (max-width: 1024px) {
            width: 640px;
            gap: 32px;
        }
        @media (max-width: 680px) {
            flex-direction: column;
            width: 100%;
        }
        @media (max-width: 680px) {
            gap: 8px;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        border-radius: 8px;
        width: 136px;
        height: 136px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-style: dashed;
        &:hover {
            background-color: rgba(238, 50, 85, 0.06);
            transition: all 0.3s;
        }

        @media (max-width: 680px) {
            // width: 358px;
            width: 90%;
            height: 74px;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 35.5px;
            gap: 35.5px;
        }
    }

    img {
        width: 35px;
        height: 35px;
    }

    p {
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding-top: 26px;
        line-height: 100%;
        text-align: center;
        @include fontGeorgian(400);
        text-transform: uppercase;

        @media (max-width: 680px) {
            padding-top: 0;
            width: 150px;
            text-align: start;
        }
    }
}
