.weather-wrapper{
    max-width: 1052px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 14px 0px 0px;

    a{
        text-decoration: none;
    }

    .left-container{
        width: 230px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: start;

        .celsius{
            color: #999;
            font-size: 1rem;
            font-weight: 500;
            cursor: context-menu;

            &:hover{
                color: #fff;
            }
        }

        p{
            color: #999;
            cursor: context-menu;
            font-size: 1rem;
            cursor: pointer;
            user-select: none;
            &:hover{
                color: #fff;
                transition: all 0.4s;
            }
        }
        div{
            display: flex;
            gap: 15px;
            margin-left: 20px;
        }
    }

    .right-container{
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
            max-width: 15rem;
            margin-left: auto;
            color: #999;
            letter-spacing: 0.5px;
        }
    }
}

span{
    margin-left: 10px;
}