// .breadcrumbs {
//     max-width: 1200px;
//     margin: 20px auto;
//   }
//   .breadcrumbs > *{
//     display: inline-block;
//     margin-right: 10px;
//   }
//   .breadcrumbs .crumb:after {
//     content: '>';
//     margin-left: 10px;
//   }
//   .breadcrumbs .crumb:last-child:after {
//     display: none;
//   }
//   .breadcrumbs .crumb a {
//     color: #ddd;
//   }
.filter {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    position: absolute;
    transition: 500ms;
    @media (min-width: 850px) {
        display: none;
    }
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
}

.popup_middle {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 40;
    @include flexCenter(row);

    .pupup_center {
        padding: 50px;
        background-color: $mg_red;
        border-radius: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3em;
        @media (max-width: 750px) {
            padding: 25px;
        }
        @media (max-width: 450px) {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            font-size: 1.5rem;
            @media (max-width: 750px) {
                font-size: 1.2rem;
            }
        }
        button {
            align-items: center;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
            color: #121212;
            cursor: pointer;
            display: inline-flex;
            flex: 1 1 auto;
            font-size: 1.2rem;
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            outline: none;
            padding: 1rem 1rem;
            text-align: center;
            transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            @media (max-width: 750px) {
                padding: 0.5em;
                max-width: 80%;
                margin: 0 auto;
            }

            &:hover {
                box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
            }
        }
    }
}
