// .breadcrumbs {
//     max-width: 1200px;
//     margin: 20px auto;
//   }
//   .breadcrumbs > *{
//     display: inline-block;
//     margin-right: 10px;
//   }
//   .breadcrumbs .crumb:after {
//     content: '>';
//     margin-left: 10px;
//   }
//   .breadcrumbs .crumb:last-child:after {
//     display: none;
//   }
//   .breadcrumbs .crumb a {
//     color: #ddd;
//   }
.filter {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    position: absolute;
    transition: 500ms;
    @media (min-width: 850px) {
        display: none;
    }
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
}
