// .breadcrumbs {
//     max-width: 1200px;
//     margin: 20px auto;
//   }
//   .breadcrumbs > *{
//     display: inline-block;
//     margin-right: 10px;
//   }
//   .breadcrumbs .crumb:after {
//     content: '>';
//     margin-left: 10px;
//   }
//   .breadcrumbs .crumb:last-child:after {
//     display: none;
//   }
//   .breadcrumbs .crumb a {
//     color: #ddd;
//   }
.filter {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    position: absolute;
    transition: 500ms;
    @media (min-width: 850px) {
        display: none;
    }
    // top: 0;
    // right: 0;
    // left: 0;
    // bottom: 0;
}

.popup_middle {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 40;
    @include flexCenter(row);

    .pupup_center {
        padding: 50px;
        background-color: $mg_red;
        border-radius: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3em;
        @media (max-width: 750px) {
            padding: 25px;
        }
        @media (max-width: 450px) {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            font-size: 1.5rem;
            @media (max-width: 750px) {
                font-size: 1.2rem;
            }
        }
        button {
            align-items: center;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
            color: #121212;
            cursor: pointer;
            display: inline-flex;
            flex: 1 1 auto;
            font-size: 1.2rem;
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            outline: none;
            padding: 1rem 1rem;
            text-align: center;
            transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            @media (max-width: 750px) {
                padding: 0.5em;
                max-width: 80%;
                margin: 0 auto;
            }

            &:hover {
                box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
            }
        }
    }
}
.rotate_div {
    border: 2px solid white;
    // transform: rotate(-45deg);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: 500ms;
}
// .select_component {
//     width: 100%;
//     display: flex;
//     gap: 32px;
//     height: 60px;
//     background-color: transparent;
//     border-radius: 4px;
//     padding: 20px 16px !important;
//     border: 1px solid $register_input_border_color;
//     z-index: 4;
//     font-size: 10px;
//     line-height: 14px;
//     padding-top: 12px;
//     color: rgba(255, 255, 255, 0.6);
//     @include fontGeorgian(400);
//     outline: none;
//     font-size: 14px;
//     line-height: 19px;
//     position: relative;

//     .values {
//         display: flex;
//         gap: 6px;
//         img {
//             width: 20px;
//             height: 14px;
//         }
//     }
//     .rotate_div {
//         width: 8px;
//         height: 8px;
//         min-width: 8px;
//         min-height: 8px;
//         max-width: 8px;
//         max-height: 8px;
//     }
//     .dropdawn {
//         position: absolute;
//         background-color: $option_bg;
//         width: 100%;
//         min-height: 5rem;
//         height: max-content;
//         top: 66px;
//         left: 0;
//         display: flex;
//         flex-direction: column;
//         border: 1px solid rgba(255, 255, 255, 0.06);
//         border-radius: 4px;
//         align-items: flex-start;
//         padding: 16px;
//         gap: 8px;
//         option {
//             width: fit-content;
//             color: $option_color;
//             font-size: 12px;
//             line-height: 16px;
//             @include fontGeorgian(400);
//             cursor: pointer;
//         }
//     }
// }
