@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//colors
$home_page_bg_dark: #1e1e1e;

body {
    background-color: $home_page_bg_dark;
}

// colors
$registration_title: #333;
$registration_text: #757575;
$lightgray_text: #8a8d92;
$login_button: #fc0;
$verify_bg: #2cbd32;

$company_info_color: #505a61;
$quote_title_bg: #20334c;
$quota_input_txt: #495057;
$quota_bg: #f2f4f6;
$about_text: #56595d;

$list_company_txt: #20344c;
$list_company_city: #7b868f;
$list_company_green: #7dc34a;
$list_company_title: #3c4043;
$list_select_bg: #e8eaed;

$list_company_sidebar_bg: rgba(39, 39, 41, 0.253);

$background_black: #161617;
$footer_white_txt: #efedfb;
$yellow_color: yellow;

// sa
$mg_red: #ee3255;
$mg_red_hover: rgba(234, 49, 83, 0.555);

// Navigation
$button_white_bg: #d5d6d9;
$button_blue_txt: #2a3144;
$light_toggle_bg: #ffdd2d;
$txt_white_color: #efefef;
$auth_bg: #090c13;
$auth_bordr_color: rgba(255, 255, 255, 0.08);

// Register
$user_choose_bg: #0f121b;
$user_choose_button_active_bg: #ececec;
$register_input_bg: rgba(42, 49, 68, 0.12);
$register_input_border_color: rgba(203, 203, 203, 0.08);
$option_bg: #080a10;
$option_color: rgba(182, 188, 205, 0.6);
$checked_color: #6b6b6b;

// Error
$border_red: #d61c1c;
$input_red_bg: rgba(214, 28, 28, 0.06);
$text_red_err: #d61c1c;

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin imageStyle($fit) {
    width: 100%;
    height: 100%;
    object-fit: $fit;
    object-position: center;
}

@mixin HideTextWithDots {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin fontGeorgian($weight) {
    font-family: "Noto Sans Georgian", sans-serif;
    font-weight: $weight;
}
