*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//colors
$home_page_bg_dark: rgb(22, 22, 23);

// colors
$registration_title: #333;
$registration_text: #757575;
// $background_black: #161617;
$login_button: #fc0;

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin imageStyle($fit) {
    width: 100%;
    height: 100%;
    object-fit: $fit;
    object-position: center;
}
