*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}