// .home-wrapper {
//     width: 100%;
//     min-height: calc(100vh - 5rem);
//     background-color: $home_page_bg_dark;
//     overflow: auto;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     .search-container {
//         position: relative;
//         max-width: 1052px;
//         width: 90%;
//         height: auto;
//         margin: 0 auto;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-top: 120px;
//         ::placeholder {
//             font-size: 16px;
//         }
//         input {
//             width: 100%;
//             height: 3.8rem;
//             border-radius: 0.8rem;
//             border: 0;
//             outline: none;
//             padding-left: 20px;
//             background-color: rgb(47, 47, 50);
//             color: #fff;
//             font-size: 16px;
//             @media (max-width: 640px) {
//                 height: 3rem;
//             }
//         }

//         img {
//             position: absolute;
//             right: 20px;
//             cursor: pointer;
//         }
//     }
// }

.home-conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 355px);
    margin-top: 140px;
    @media (max-width: 1250px) {
        padding: 20px;
    }
    @media (max-width: 680px) {
        margin-top: 56px;
    }
    div {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .search-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            outline: none;
            padding: 20px;
            width: 996px;
            margin: 0 auto;
            width: 100%;
            height: 64px;
            border-radius: 12px;
            padding-left: 20px;
            background-color: rgb(47, 47, 50);
            color: #787d8a;
            font-size: 16px;

            input::placeholder {
                font-size: 14px;
                @include fontThin;
                line-height: 19.04px;
                padding-top: 22.5;
                padding-bottom: 22.5;
                color: #787d8a;
            }
        }

        img {
            width: 19px;
            height: 19px;
            position: absolute;
            right: 20px;
        }
    }

    // .root-footer{
    //     width: 100%;
    //     height: 215px;
    //     background-color: #0000001A;
    //     padding-left:56px ;
    //     padding-right: 56px;
    //     padding-top: 24px;
    //     padding-bottom: 24px;
    //     display: flex ;
    //     justify-content: space-between;
    //     margin-top: 230px;

    //     .footer-nav-container{
    //         display: flex;
    //         flex-direction: column;

    //         h3{
    //             font-size: 16px;
    //             @include fontRegular;
    //             font-weight: 500px;
    //             line-height: 22px;
    //             color: #EE3255;
    //         }
    //         div{
    //             margin-top: 13px;
    //             p{
    //                 color: #797979;
    //                 @include fontRegular;
    //                 font-size: 14px;
    //                 line-height: 20px;
    //                 padding-top: 8px;
    //                 cursor: pointer;
    //             }
    //         }

    //     }
    //     .footer-copyright-container{
    //         display: flex;
    //         // display: none;
    //         gap: 32px;
    //         align-items: center;
    //         margin-top: 162px;

    //         .footer-logo{
    //             width:38px;
    //             height: 29px;
    //         }

    //         p{
    //             @include fontRegular;
    //             color: #797979;
    //             font-size: 16px;
    //             line-height: 22px;
    //         }
    //     }

    //     .footer-social-container{
    //         display: flex;
    //         flex-direction: column;
    //         gap: 5px;

    //         p{
    //             color: red;
    //             color: rgba(233, 233, 233, 0.6);
    //             font-size: 14px;
    //             line-height: 19px;
    //             @include fontRegular;
    //             font-weight: 300;
    //         }

    //         h3{
    //             font-size: 16px;
    //             @include fontRegular;
    //             font-weight: 500px;
    //             line-height: 22px;
    //             color: #EE3255;
    //         }

    //         div{
    //             display: flex;
    //             gap: 8px;

    //             .footer-container{
    //                 display: flex;
    //                 align-items: center;
    //                 width: 160px;
    //                 justify-content: space-between;
    //             }
    //         }

    //         .soc-box{
    //             width: 22px;
    //             height: 22px;
    //             background: rgba(233, 233, 233, 0.13);
    //             border-radius: 4px;
    //             margin: 0;
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             img{
    //                 width: 10px;
    //                 height: 11.67px;
    //             }
    //         }
    //     }
    // }
}
