.contact_page {
    background-color: $background_black;
    display: flex;
    min-height: 100vh;
    .time_table {
        width: 50%;
        margin: 50px auto;
        height: max-content;
        @media (max-width: 900px) {
            width: 90%;
        }
        @include flexCenter(column);
        position: relative;
        .outline {
            width: 88%;
            height: 90%;
            position: absolute;
            border: 1px solid $yellow_color;
        }
        .inline {
            width: 80%;
            height: 95%;
            margin: 0 auto;
            border: 1px solid $yellow_color;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 4em 0;
            div {
                width: 90%;
                margin: 20px auto;
                height: max-content;
                h6 {
                    font-size: 1.2rem;
                    margin: 0;
                    letter-spacing: 2px;
                    color: white;
                }
                p {
                    margin: 10px 0;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    color: white;
                    @media (max-width: 1400px) {
                        font-size: 0.8rem;
                    }
                }
            }
            svg {
                width: 20px;
                height: 20px;
                margin: 0 auto;
                animation: svg 5s linear infinite;
            }
            @keyframes svg {
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
