section{
    width: 100%;
    .jobs-form-wrapper {
        max-width: 1400px;
        width: 95%;
        height: max-content;
        // min-height:100px;
        background-color: #262727;
        box-shadow: 2px 2px 5px 4px rgba(41,42,42,0.38);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    
        .general-container-parent {
            width: 100%;
            height: 50px;
            // border-bottom: 1px solid #a1a2a2;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            position: relative;
            z-index: 3;
            
            img {
                padding-left: 10px;
            }
    
            h4 {
                color: #fff;
                font-weight: 500;
            }
        }
    
        .general-wrapper {
            position: relative;
            overflow: hidden;
            @keyframes identifier {
                99% {
                    position: static;
                }
            }
    
            .general-container {
                // padding: 15px;
                height: 700px;
                height: max-content;
                width: 944px;
                transition: 900ms;
                // animation: identifier linear 3s forwards;
                display: flex;
                justify-content: space-between;
    
                width: 100%;
                padding: 20px;
                gap: 1em;


    
                @media (max-width: 1450px) {
                    flex-wrap: wrap;
                    justify-content: space-around;
                    height: auto;
                }

                button{
                    margin-top: 30px;
                    padding: 12px 10px;
                    background-color: #ee3255;
                    color: #fff;
                    border: 0;
                    font-size: 14px;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover{
                        background-color: #fd234b;
                        transition: all 0.5s;
                    }
                }
    
                .form-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    margin-top: 15px;
    
                    select {
                        background-color: transparent;
                        color: #fff;
                        width: 400px;
                        height: 35px;
                        border: 0;
                        border-radius: 6px;
                        border: 2px solid #303030;
                        padding-left: 5px;

                        &:focus {
                            border: 1px solid #ee3255;
                            transition: all 0.5s;
                        }
    
                        @media (max-width: 1450px) {
                            width: 700px;
                        }
    
                        
                        @media (max-width: 768px) {
                            width: 568px;
                        }
    
                        @media (max-width: 689px) {
                            width: 500px;
                        }
    
                        @media (max-width: 550px) {
                            width: 450px;
                        }
    
                        @media (max-width: 500px) {
                            width: 400px;
                        }
                        @media (max-width: 450px) {
                            width: 300px;
                        }
                    }
    
                    option {
                        background-color: #262727;
                        height: 10px;
                        font-size: 15px;
                    }
    
                    textarea {
                        width: 1000px;
                        height: 150px;
                        border: 0;
                        border-radius: 6px;
                        outline: none;
                        padding-left: 10px;
                        background-color: transparent;
                        border: 2px solid #303030;
                        color: #fff;
                        padding: 15px;
                        font-size: 16px;
                        &:focus {
                            border: 1px solid #ee3255;
                            transition: all 0.5s;
                        }
    
                        @media (max-width: 1450px) {
                            width: 700px;
                        }
    
                        
                        @media (max-width: 768px) {
                            width: 568px;
                        }
    
                        @media (max-width: 689px) {
                            width: 500px;
                        }
    
                        @media (max-width: 550px) {
                            width: 450px;
                        }
    
                        @media (max-width: 500px) {
                            width: 400px;
                        }
                        @media (max-width: 450px) {
                            width: 300px;
                        }
                    }
    
                    .range-input {
                        width: 200px;
    
                        
                    }
    
                    div {
                        display: flex;
                        gap: 5px;
    
                        
                        @media (max-width: 1450px) {
                            width: 700px;
                        }
    
                        
                        @media (max-width: 768px) {
                            width: 568px;
                        }
    
                        @media (max-width: 689px) {
                            width: 500px;
                        }
    
                        @media (max-width: 550px) {
                            width: 450px;
                        }
    
                        @media (max-width: 500px) {
                            width: 400px;
                        }
                        @media (max-width: 450px) {
                            width: 300px;
                        }
                    }
                    label {
                        color: #fff;
                    }
                    input[type="checkbox"] {
                        height: 15px;
                    }
                    input {
                        width: 400px;
                        height: 35px;
                        border: 0;
                        border-radius: 6px;
                        outline: none;
                        padding-left: 10px;
                        background-color: transparent;
                        border: 2px solid #303030;
                        color: #fff;
    
                        &:focus {
                            border: 1px solid #ee3255;
                            transition: all 0.5s;
                        }
    
                        @media (max-width: 1450px) {
                            width: 700px;
                        }
    
                        
                        @media (max-width: 768px) {
                            width: 568px;
                        }
    
                        @media (max-width: 689px) {
                            width: 500px;
                        }
    
                        @media (max-width: 550px) {
                            width: 450px;
                        }
    
                        @media (max-width: 500px) {
                            width: 400px;
                        }
                        @media (max-width: 450px) {
                            width: 300px;
                        }
                    }
    
                    .checkbox-container {
                        display: flex;
                        background-color: red;
                        justify-content: start;
                    }
                }
            }
        }
    }
    

}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 10px;
}

