.jobs-wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: $home_page_bg_dark;
    overflow: hidden;

    .header-test{
        width: 100%;
        height: 40px;
        background-color: blue;
    }

    .title-wrapper{
        max-width: 1060px;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 100px;
        h3{
            color: #fff;
            font-size: 40px;
            padding-left: 5px;
            height: 40px;
            text-align: center;
            letter-spacing: 1px;
        }

        p{
            color: #a1a2a2;
            padding-top: 15px;
            padding-left: 15px;
            font-size: 17px;
            text-align: center;
            
        }
    }

    .jobs-search-wrapper{
        max-width: 1100px;
        width: 90%;
        // height: auto;
        margin: 0 auto;
        margin-top: 10px;
        // position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 50px;

        .jobs-search-container{
            width: 60px;
            height: 60px;
            background-color: #d13253;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover{
                background-color: #961831;
                transition: all 0.5s;
            }
        }


        input{
            padding-left: 20px;
            width: 250px;
            height: 68px;
            margin-left: 50%;
            transform: translateX(-50%);
            outline: none;
            border: 0;
            background-color: rgb(47,47,50);
            color: #fff;
            font-size: 16px;
            border-radius: 5px;

        }

        select{
            width: 250px;
            height: 68px;
            outline: none;
            border: 0;
            padding: 15px;
            font-size: 16px;
            background-color: rgb(47,47,50);
            color: #fff;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: #d13253;
                transition: all 0.5s;
            }

            option{
                font-size: 18px;
            }
        }

        img{
            cursor: pointer;
        }
    }
    .jobs-list-wrapper{
        max-width: 1300px;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        .jobs-filter-wrapper{
            width: 220px;
            height:auto;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-right: 1px solid #efefef;

            div{
                padding: 5px;

                h3{
                    color: #fff;
                    padding: 5px;
                    font-size: 16px;
                }
                .price-box{
                    width: 80%;
                    height: 30px;
                    margin-top: 5px;
                    cursor: pointer;
                    color: #fff;

                    &:hover{
                        background-color: #292a2a;
                        transition: all 0.3s;
                        border-radius: 2px;
                    }
                }

                label{
                    padding-left: 5px;
                    color: #fff;
                }
                p{
                    color: #fff;
                }
            }
        }

        .jobs-list-container{
            width: 1500px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            @media(max-width:1180px){
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px;
            }


            .job-card{
                width: 360px;
                height: 300px;
                display: flex;
                flex-direction: column;
                background-color: #292a2a  ;
                border-radius: 8px;
                margin-top: 30px;

                h6{
                    padding: 15px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                }

                .card-title{
                    display: flex;
                    gap: 35px;
                    padding:15px;
                    align-items: center;

                    div{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        h3{
                            color: #fff;
                            font-size: 17px;
                        }

                        p{
                            color: #efefef;
                        }
                        
                    }

                    img{
                        width: 70px;
                        height: 70px;
                        border-radius: 8px;
                    }
                }

                .card-detail{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 15px;
                    user-select: none;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    

                        img{
                            width: 14px;
                            height: 14px;
                        }

                        h5{
                            color: #fff;
                        }
                    }
                }

                .date-wrapper{
                    padding:15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button{
                        padding: 4px 5px 6px;
                        border: 0;
                        background-color: #d13253;
                        border: 1px solid #d13253;
                        border-radius: 5px;
                        color: #fff;
                        display: inline-block;
                        font-size: 15px;
                        padding: 8px 35px 8px;
                        cursor: pointer;
                        text-align: center;

                        &:hover{
                            background-color: #fff;
                            border: 1px solid #d13253;
                            color: #d13253;
                            transition: all 0.5s;
                        }

                    }

                    p{
                        color: #fff;
                        font-size: 14px;
                        
                    }
                }
            }
        }
    }
}